html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}
header .firstcont {
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
}
header .firstcont ul {
  display: flex;
}
header .firstcont li {
  margin: 20px;
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

section {
  margin-top: 20px;
}
section .sect-1 img {
  position: relative;
  width: 1500px;
  height: 610px;
}
section .sect-1 h2 {
  position: absolute;
  color: #FFF;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 45.2%;
  left: 28.6%;
}
section .sect-1 p {
  position: absolute;
  color: #FFF;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  top: 62%;
  left: 38%;
}

.sec-2 {
  margin-top: 70px;
}
.sec-2 .parentdiv .maindiv2 {
  display: flex;
  flex-wrap: wrap;
}
.sec-2 .parentdiv .idk-22 {
  margin-top: 40px;
  display: flex;
  margin-left: 340px;
  flex-wrap: wrap;
}
.sec-2 .parentdiv .child1 {
  margin-left: 100px;
}
.sec-2 .parentdiv .child1 h4 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7px;
}
.sec-2 .parentdiv .child1 h2 {
  margin-bottom: 35px;
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sec-2 .parentdiv .child1 p {
  width: 235px;
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sec-2 .card-22 {
  margin-left: 80px;
}
.sec-2 .card-22 img {
  margin-bottom: 15px;
}
.sec-2 .card-22 h2 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.sec-2 .card-22 p {
  width: 286px;
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=global.css.map */